#header {
  background-image: url("img/pattern.jpeg");
  }

h1 {
  font-family: helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  }

#b {
  background-color: mediumspringgreen;
}

h2 {
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#f {
  background-color: lightcoral;
}


#p {
  background-color: deepskyblue;
}

strong {
  font-family: helvetica;
  font-weight: bold;
  color: blue;
}

#footer {
  background-color: khaki;
  padding: 1px;
  margin: auto;
  display: block;
  text-align: center;
  font-family: helvetica;
  color: #9E9E9E;
  font-weight: lighter;
}

#container {
    width: 1100px;
    height: auto;
    margin: 0px auto;
    padding: 10px;
}

body {
    color: #1e5474;
    background: #f7f7f7;
    margin: 0px;
}
